<div class="card">
    <div class="image">
        <img src="../asset/image/elyse.png"/>
    </div>
    <div class="content">
        <div class="header">{{title}}</div>
        <div class="meta">
            <a>Friends</a>
        </div>
        <div class="description">
            {{description}}
        </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2015
      </span>
      <span>
        <i class="user icon"></i>
        75 followers
      </span>
    </div>
</div>